<% content_for :title do %>About<% end %>
<h3>About Suhardi</h3>
<p>He was born in Jakarta, Indonesia. He studied in Singapore and Australia for his bachelor of commmerce degree (major in Accounting).  He loves programming and experience in the process reengineering project.  Implemented many finance projects across the World with a reputable MNC with complex structure. In his free time, Suhardi loves to read Bible and conduct bible classes</p>
<p>His favorite quotation is:</p>
<p>God is good.</p>